.team-box {
  text-align: center;
  min-height: 50px;
  background-color: rgba(255, 176, 159, 0);
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.expanded {
  min-height: 200px;
}
