.App {
  height: 100vh;
  background-color: rgba(0, 45, 114, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container{
  min-height: 90vh;
  max-height: 90vh;
  min-width: 80vw;
  max-width: 80vw;
  border-radius: 25px;
  background-color: rgba(213, 0, 50, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*
 - Change CSS based on
*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.team-search{
  width: 28vw;
  border-radius: 25px;
  padding: 1% 1%;
  margin: 2% 2%;
}

#mlb-logo{
  height: 15vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
